<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div>
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <% if task.persisted? %>
      <%= form.submit id:'update-task' %>
    <% else %>
      <%= form.submit id:'create-task' %>
    <% end %>
  </div>
<% end %>